<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Consensus</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Consensus</h2>
											<span class="byline">The People's Chain of Trust</span>
											<br class="mobile-hide" />
										</header>
										<p>
											An Android-based blockchain for mobile phones that requires a LID
											to participate. Ethereum is used in the interim.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
														<h2>Unpermissioned</h2>
													</header>
													<!--<a class="image image-full"><img src="../images/iriscanning.gif" alt="" /></a>-->
													<p>
														Entirely inclusive.
													</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2>Transaction Settlement</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>
														Transactions get settled by randomly chosen LID paying out in
														<a href="/prana">Prana</a> utility tokens.
													</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<!--<div class="row">-->
											<!--<div class="4u">-->
												<!--<section class="is is-triple-one">-->
													<!--<header>-->
														<!--<h2>DNA Recognition</h2>-->
													<!--</header>-->
													<!--<a class="image image-full"><img src="../images/iriscanning.gif" alt="" /></a>-->
													<!--<p>A part of Biometric Identification and Verification techniques-->
														<!--used to identify human individuals by identifying the-->
														<!--distinctiveness in their DNA profiles.</p>-->
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="4u">-->
												<!--<section class="is is-triple-two">-->
													<!--<header>-->
														<!--<h2>Regenerative Biometrics</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<!--<p>If a private key is lost, a new one can be re-generated-->
														<!--and used to blacklist the older private key.-->
													<!--</p>-->
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="4u">-->
												<!--<section class="is is-triple-three">-->
													<!--<header>-->
														<!--<h2>Reputation Banks</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<!--<p>Reputation points attached to HUIDs used for access.</p>-->
													<!--<a href="delegative" class="button button-style1">More</a>-->
												<!--</section>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="row">-->
											<!--<div class="5u">&nbsp;</div>-->
											<!--<div class="2u">-->
												<!--<section class="is is-post-excerpt">-->
													<!--<a href="democracy" class="button button-style1">Contrast</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->