<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Contracts</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Smart Contract Platform</h2>
											<span class="byline">Self-Executing & Self-Enforcing</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Self-executing self-enforcing software implemented contracts intended to
											facilitate, verify, or enforce the negotiation or performance of
											contracts providing security that is superior to traditional contract
											law while greatly reducing transaction costs.
										</p>
										<p>
											Smart contracts written in OpenOffice Text Documents and Spreadsheets.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Smart Contracts as OpenDocuments</h2>
													</header>
													<a target="_blank" href="https://en.wikipedia.org/wiki/OpenDocument" class="image image-full"><img src="../images/odf.png" alt="" /></a>
													<p>OpenDocument format used to represent contracts.</p>
													<!--<a href="opendocuments" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Rules Engine Execution</h2>
													</header>
													<a target="_blank" href="http://www.drools.org/" class="image image-full"><img src="../images/drools.png" alt="" /></a>
													<p>The open source rules engine Drools is used to execute the auto contracts.</p>
													<!--<a href="brms" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>XSLT Transformations</h2>
													</header>
													<a target="_blank" href="https://www.android.com/" class="image image-full"><img src="../images/xslt.jpeg" alt=""/></a>
													<p>XSLT is used to transform OpenDocuments into Rules Files</p>
													<!--<a href="android" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<!--<div class="row">-->
											<!--<div class="5u">&nbsp;</div>-->
											<!--<div class="2u">-->
												<!--<section class="is is-post-excerpt">-->
													<!--<a href="democracy" class="button button-style1">Contrast</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->