<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Hardware</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Open Source Hardware</h2>
											<span class="byline">Free the Whole Stack!</span>
											<br class="mobile-hide" />
										</header>
										<p>
											With 1M5 integrated into your applications, your anonymity and privacy appear to be finally
											under your control, no longer being under mass unethical surveillance by unchecked governments and large
											corporations. Until you find out the operating system can bypass application security.
											You then download and install PureOS to get back control over your operating system to discover the
											rabbit hole goes deeper. The whole stack from physical metal up is under attack by
											governments, corporations, and thieves worldwide. And there's no one in our corner. Until you meet
											<a href="https://puri.sm/" target="_blank">Purism</a>.
										</p>
										<p>
											Purism is <a href="https://puri.sm/learn/freedom-roadmap/" target="_blank">working down the stack</a>
											with hardware and driver manufacturers to claw back our right to privacy.
											We recommend buying all of your laptops from this group and their phones when they are released.
										</p>
										<p>
                                            Long-term we are gearing up to provide hardware-specific devices such as secure peer-to-peer
                                            communications devices that accomplish nothing but their primary mission.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
                                                        <h2><a href="https://puri.sm/" target="_blank">Purism</a></h2>
													</header>
													<!--<a target="_blank" href="https://puri.sm/" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>Secure devices that protect you rather than exploit you.</p>
													<!--<a href="https://puri.sm/" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2>1MC</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>Invisible Matrix Communications - secure peer-to-peer communications devices - to come.</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<!--<div class="row">-->
											<!--<div class="5u">&nbsp;</div>-->
											<!--<div class="2u">-->
												<!--<section class="is is-post-excerpt">-->
													<!--<a href="democracy" class="button button-style1">Contrast</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->