	<!-- Intro Wrapper -->
			<div id="intro-wrapper" class="wrapper wrapper-style1">
				<div class="title">Censorship Resistance</div>
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Intro -->
								<section id="intro">
									<p class="style2">Secure Private Decentralization</p>
									<p class="style1">Most organizations (e.g. Facebook, Google, Twitter, banks, governments)
										track, persist, and use our behavior for their gains.</p>
									<p class="style1">Blockchain based applications and cryptocurrencies like Bitcoin
										are helping to wrestle some control from these centralized organizations
										although they are largely used on servers and distributed ledgers are still
										logically centralized creating an easy attack vector.</p>
									<p class="style1">Smart phones, our primary means of global communication and
										collaboration, are weak in maintaining our anonymity and privacy - critical
										to ensuring individual freedom.</p>
									<p class="style1">What's needed are decentralized applications that run purely on
										mobile phones without using servers of any kind and share only what the owner
										specifically allows while maintaining our privacy and ensuring transparency in our relationships.</p>
									<p class="style1">
										1M5 is building a secure open-source decentralized
										peer-to-peer mobile application platform with end-to-end encryption and anonymity as a base layer for
										creating easy to use secure decentralized peer-to-peer smart mobile apps
										requiring no server connections that can be used around the world by any person
										looking to protect their communications and personal data from unjust intrusion,
										interception, monitoring, and censorship while isolating unethical actors from using the network.
									</p>
									<p class="style1"><br class="mobile-hide" /></p>
									<ul class="actions">
										<li><a href="home#platform" class="button button-style3 button-big">Platform</a></li>
									</ul>
								</section>
							<!-- /Intro -->
						</div>
					</div>
				</div>
			</div>
		<!-- /Intro Wrapper -->

		<!-- Main Wrapper -->
			<div class="wrapper wrapper-style2">
				<div id="platform" class="title">Platform</div>
				<div class="container">
					<div class="row">
						<div class="12u">

							 <!--Main-->
								<div id="main">

									 <!--Image-->
										<!--<a class="image image-featured">-->
											<!--<img height="200" src="images/blackpainting.jpg" alt="" />-->
										<!--</a>-->
									 <!--/Image-->

									 <!--Features -->
										<section id="service">
											<header class="style1">
												<h2>Mobile Application Platform</h2>
												<p class="byline">
													1M5's platform provides mobile application infrastructure to build on.
													It's based on a Micro-Services Architecture (SOA) for service integration
													and a Staged Event-Driven Architecture (SEDA) for message routing.
													A number of common internal services are provided by the platform in addition
													to supporting pluggable services from service providers.
												</p>
												<p class="byline">
													The following internal services are provided or currently in development:
												</p>
											</header>
											<div class="feature-list">
												<div>
                                                    <div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-cogs"><a href="contracts">Contracts</a></h3>
																<p>
																	Think Ethereum turing-complete platform on a mobile using OpenDocuments for the contract language
																	and a Rete rules engine for execution. When combined with
																	<a href="https://synapticcelerity.io" target="_blank">Synaptic Celerity</a>,
																	it truly makes electronic automated contracts 'smart'.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-briefcase"><a href="infovault">Info Vault</a></h3>
																<p>
																	The platform allows for the user to grant access control to their
																	personal information on their mobile if desired. Access can be revoked
																	when its no longer desired for them to have it. Applications no longer need to know
																	everything about you. This will end widespread data breaches.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-briefcase"><a href="wallet">Key Ring</a></h3>
																<p>
																	Maintaining encryption and signing keys secure.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-eye"><a href="did">Decentralized IDentifier</a></h3>
																<p>
																	Pluggable, decentralized, people and/or automation-controlled universal ID, called
																	DID or Decentralized IDentifier.
																	Its primary components are:<br/>
																	<strong>Crypto Authentication (CA)</strong><br/>
																	<strong>Reputation Based Access Control (RepBAC)</strong><br/>
																	<strong>Circles of Influence</strong>
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-bitcoin"><a href="prana">Prana - User Utility Token</a></h3>
																<p>
																	Tokens used in the platform as a method to manage resources (network, cpu, storage) to support it.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-bitcoin"><a href="aten">Aten - Developer Utility Token</a></h3>
																<p>
																	Tokens used in the platform as a method to determine transaction fee distribution paid in Prana.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-phone"><a href="sensors">Sensors</a></h3>
																<p>
																	Mobile-to-Mobile (M2M), End-to-End Encrypted, Double Ratchet Key Management, Mesh Network Capable, Anonymous Network, with Bad Actor Isolation.
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-book"><a href="content">Content</a></h3>
																<p>
																	Full-stack synched decentralized javascript web applications
																	on android for decentralized content distribution including static resources.
																</p>
															</section>
														</div>
													</div>
													<div class="row">
														<div class="6u">
															<section>
																<h3 class="fa fa-chain"><a href="consensus">Consensus</a></h3>
																<p>
																	Unpermissioned blockchain on Android. Prevent double spend.
																	Anyone can get on with their DID (public/private keys).
																</p>
															</section>
														</div>
														<div class="6u">
															<section>
																<h3 class="fa fa-chain"><a href="dex">DEX</a></h3>
																<p>
																	Trade tokens directly.
																</p>
															</section>
														</div>
													</div>
												</div>
											</div>
											<ul class="actions actions-centered">
												<li><a href="home#solutions" class="button button-style1 button-big">Solutions</a></li>
											</ul>
										</section>
									 <!--/Features -->

								</div>
							 <!--/Main-->

						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->

        <!-- Solutions Wrapper -->
        <div class="wrapper wrapper-style3">
            <div id="solutions" class="title">Solutions</div>
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <div id="solution">
                            <div>
								<div class="row">
									<div class="12u">
										<h1>Current / In Progress</h1>
									</div>
								</div>
                                <div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<a href="https://dgramz.io" target="_blank"><img style="max-width: 20%" src="../images/dgramz-icon.png" alt="" /></a>
											<h2><a href="https://dgramz.io" target="_blank">Social: Dgramz</a></h2>
											<p>
												Dgramz is a secure open-source decentralized peer-to-peer mobile messaging application
												running over 1M5 using Tor, I2P, I2P Bote, and Mesh networks
												with end-to-end encryption by default requiring no
												server connections protecting your communications and personal data from
												unjust interception, theft, and monitoring. No telephone numbers or email addresses
												are required. Only your public key is used and can be swapped using QR codes.
												Building up of reputations through Dgramz will provide you with other opportunities such as in
												<a href="https://460R4.io" target="_blank">460R4</a> to approve transactions gaining tokens.
												Long-term roadmap includes features to replace popular centralized social
												media such as Instagram, Facebook, LinkedIn, and Twitter while providing
												social AI assistance when combined with <a href="https://synapticcelerity.io" target="_blank">Synaptic Celerity</a>.
											</p>
											<ul class="actions">
												<!--<li><a class="button button-style2">In Progress</a></li>-->
												<li><a href="https://dgramz.io" target="_blank" class="button button-style1">Learn More</a></li>
											</ul>
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<a href="https://inkrypt.io" target="_blank"><img style="max-width: 20%" src="../images/inkrypt-icon.png" alt="" /></a>
											<h2><a href="https://inkrypt.io" target="_blank">Journalism: Inkrypt</a></h2>
											<p>
												Making journalism truly free. Uses 1M5 to protect journalists' privacy.
											</p>
											<ul class="actions">
												<li><a href="https://inkrypt.io" target="_blank" class="button button-style1">Learn More</a></li>
											</ul>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<a href="https://dragonsbane.io" target="_blank"><img style="max-width: 20%" src="../images/db-120-icon.png" alt="" /></a>
											<h2><a href="https://dragonsbane.io" target="_blank">Health: Dragonsbane</a></h2>
											<p>
												Maximum personalization of health and wellness for all individuals while ensuring privacy.
												First module is Neurocog, a replacement for privacy intrusive drug testing.
												Uses 1M5 to protect personal health information.
											</p>
											<ul class="actions">
												<li><a href="https://dragonsbane.io" target="_blank" class="button button-style1">Learn More</a></li>
											</ul>
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<a href="https://v4d.io" target="_blank"><img style="max-width: 20%" src="../images/v.png" alt="" /></a>
											<h2><a href="https://v4d.io" target="_blank">Governance: V4D</a></h2>
											<p>A decentralized governance application to assist with self-governance.</p>
											<ul>
												<li><strong>Voluntary</strong>: Who likes getting coerced or forced into something they don't wish to participate in?</li>
												<li><strong>Decentralized</strong>: Democracy works best with small groups as when it was first designed.</li>
												<li><strong>Delegative</strong>: We can not be experts in everything nor do we have the time to participate in every decision yet we have the right to attempt it.</li>
												<li><strong>Direct</strong>: No one person can represent another on every issue.</li>
												<li><strong>Democracy</strong>: Governance for the people by the people.</li>
											</ul>
											<p>
												First module is a software development bounty application. Uses 1M5
												to ensure voting can be done privately individually yet without losing transparency in the voting scores.
											</p>
											<ul class="actions">
												<!--<li><a href="v4d" class="button button-style2">Learn More</a></li>-->
												<li><a href="https://v4d.io" target="_blank" class="button button-style1">Learn More</a></li>
											</ul>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<a href="https://460r4.io" target="_blank"><img style="max-width: 20%" src="../images/460R4-logo-round.png" alt="" /></a>
											<h2><a href="https://460r4.io" target="_blank">Market: 460R4</a></h2>
											<p>
												Voluntary Markets - Think Craigslist for ethical markets. Uses 1M5
												to ensure privacy in the marketplace yet requires end user voting to verify what is bought and sold
												does not violate voluntary/non-aggression principles.
											</p>
											<ul class="actions">
												<!--<li><a class="button button-style2">In Progress</a></li>-->
												<li><a href="https://460r4.io" target="_blank" class="button button-style1">Learn More</a></li>
											</ul>
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<a href="https://synapticcelerity.io" target="_blank"><img style="max-width: 20%" src="../images/short9.png" alt="" /></a>
											<h2><a href="https://synapticcelerity.io" target="_blank">AI: Synaptic Celerity</a></h2>
											<p>
												A secure open-source decentralized peer-to-peer mobile AI service with end-to-end encryption
												for creating smart mobile apps for personalized AI requiring no server connections.
												Uses 1M5 to ensure information feeds are kept private.
											</p>
											<ul class="actions">
												<!--<li><a class="button button-style2">In Progress</a></li>-->
												<li><a href="https://synapticcelerity.io" target="_blank" class="button button-style1">Learn More</a></li>
											</ul>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<h1>Planned</h1>
									</div>
								</div>
								<div class="row">
									<div class="4u">
										<section class="highlight highlight-one">
											<!--<a class="image image-full"><img src="images/neurons-firing-9.jpeg" alt="" /></a>-->
											<h2>Gifting</h2>
											<p>Help those who need it most.</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">Conceptualizing</a></li>-->
											<!--</ul>-->
										</section>
									</div>
									<div class="4u">
										<section class="highlight highlight-two">
											<!--<a class="image image-full"><img src="images/neurons-firing-4.jpg" alt="" /></a>-->
											<h2>Escrow</h2>
											<p>When a 3rd party is desired.</p>
											<!--<ul class="actions">-->
												<!--<li><a class="button button-style2">Partnering</a></li>-->
											<!--</ul>-->
										</section>
									</div>
									<div class="4u">
										<section class="highlight highlight-three">
											<!--<a class="image image-full"><img src="images/neurons-firing-5.jpg" alt="" /></a>-->
											<!--<h2>Market</h2>-->
											<!--<p>The Agora - On Android.</p>-->
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">Conceptualizing</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
                            </div>
							<ul class="actions actions-centered">
								<li><a href="#contribute" class="button button-style1 button-big">Contribute</a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Solutions Wrapper -->
	<!-- Contribute Wrapper -->
	<div class="wrapper wrapper-style2">
		<div id="contributions" class="title">Contribute</div>
		<div class="container">
			<div class="row">
				<div class="12u">
					<div id="contribute">
						<div>
							<div class="row">
								<div class="8u">
									<h1>Contribute to 1M5</h1>
									<p>
										1M5 is an open source project powered entirely by volunteers. In the spirit of
										open source, we have opted to create 1M5 without the demands or influence of investors.
										Each of us is involved in the project because we personally believe in it!
										This is not just another decentralized startup, this is a project aiming to
										be driven by the community and serving the community.
									</p>
									<p>
										There are a few ways you can help support 1M5’s development:
									</p>
								</div>
							</div>
							<div class="row">
								<div class="8u">
									<section class="highlight highlight-one">
										<h2>Contribute to Development</h2>
										<p>
											If you’re reading this then you probably have the skills that would really
											help 1M5 build and grow. We are constantly looking for skilled volunteers
											who can help us with the development of 1M5 and spread the word to the wider
											decentralization community.
										</p>
										<p>
											<strong>IMPORTANT!</strong> We are currently seeking experienced Java developers.
											If you have experience with Java please <a href="#contact">contact us below</a>
											and let us know!
										</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="8u">
									<section class="highlight highlight-one">
										<h2>Contribute to Bounties</h2>
										<p>
											We set up bounties for development tasks as funds come in. You can either
											support an existing bounty by donating to the bounty address or set up your
											own bounty for a feature you would love to see get implemented in 1M5.
										</p>
										<p>
											Please check out our <a href="https://github.com/1m5/core/issues">GitHub issue list</a> for more information.
										</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="8u">
									<section class="highlight highlight-one">
										<h2>Contribute to Donations</h2>
										<p>
											By donating Bitcoin to our donation wallet, you will be helping 1M5 pay for
											our direct costs like web hosting, domain names, outsourced work, bounties, and so on.
											So if you support this project and are in a position to help us out then that would be wonderful.
											If you wish to support us anonymously, we recommend using
											<a href="https://bisq.network" target="_blank">Bisq</a> as it uses Tor
											and using a source of Bitcoin that doesn't have your identity attached to it.
											<img width="50%" src="images/1KAUXUcvFcYUUCJgXkc3nnoHB23BgeoGb2.png"/>
											<a href="https://bitaps.com/1KAUXUcvFcYUUCJgXkc3nnoHB23BgeoGb2" target="_blank">1KAUXUcvFcYUUCJgXkc3nnoHB23BgeoGb2</a>
										</p>
										<p>
											Note: Donations to 1M5 are not tax deductible as we are not formally registered
											in any jurisdiction. We do not accept donations in Altcoins at this point in time.
											We would be really grateful if you converted them to Bitcoin and donated them that way though!
										</p>
										<p>
											Please don’t hesitate to <a href="#contact">get in touch</a> if you can
											think of other ways you can help with the 1M5 project.
										</p>
									</section>
								</div>
							</div>
						</div>
						<ul class="actions actions-centered">
							<li><a href="#contact" class="button button-style1 button-big">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Contribute Wrapper -->