<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">LID</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Life IDentifier</h2>
											<span class="byline">Decentralized Identification</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Self-Sovereign Identity + RepBAC (Reputation Based Access Control) + Circles of Influence.
											Identity without claimed authority, the best protection against abuse,
											overreach, and authoritarianism. The foundation for security, the LID
											is decentralized and guarantees privacy for every life on the planet
											returning control and ownership of personal information
											back to each of us while supporting access control based on reputation.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Self-Sovereign Authentication (SSAuthN)</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>
														You control and manage your identities.
													</p>
													<a href="ssauthn" class="button button-style1">More</a>
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Reputation Based Access Control (RepBAC)</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>Reputation awards attached to LIDs used to limit access.</p>
													<a href="repbac" class="button button-style1">More</a>
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>Circles of Influence</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>Group memberships restricted by reputation rules.</p>
													<!--<a href="repbac" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<!--<div class="row">-->
											<!--<div class="5u">&nbsp;</div>-->
											<!--<div class="2u">-->
												<!--<section class="is is-post-excerpt">-->
													<!--<a href="democracy" class="button button-style1">Contrast</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->