<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Operating Systems</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Recommended OS'</h2>
											<span class="byline">Untether From Locked-Down Operating Systems</span>
											<br class="mobile-hide" />
										</header>
										<p>
											1M5 integrated into your applications provides the best methods for ensuring your privacy on the
											internet and through mesh networks although if the layers below the application are compromised,
											so are the applications running on it. Picking an Operating System for 1M5 and other applications
											to run in is crucial. Closed source operating systems like Windows and Macintosh just don't
											cut it. It's impossible to know what's in the source code as the code is maintained as a secret and legal non-disclosure
											agreements are used to enforce secrecy gagging those few with the knowledge. Linux is
											by far the winner here and there are many flavors. But when looking at a secure
											open source operating system, we want to know there is a group actively working
											to constantly combat attackers.
										</p>
										<p>
											Debian Linux with the PureOS group is our recommendation on Laptops and soon mobiles.
											While waiting for it to be built for mobiles, Android is supported as an interim option.
											Yes, it does have Google developing it but it started from Gentoo Linux and many Google
											proprietary modules can be removed (carefully). Android is also very widely
											used world-wide in smart phones so it's expected we will need to support it for some time.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
														<h2><a href="https://www.pureos.net/" target="_blank">PureOS</a></h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>A derivative of Debian GNU/Linux, it's a user friendly, secure and freedom respecting OS for daily usage. 1M5 supports JDK 1.8 and above on PureOS.</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2><a href="https://www.android.com/" target="_blank">Android</a></h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>The world's most popular operating system with over 2 billion devices globally and a huge number of developers available considering applications are written in Java. 1M5 supports Android 5.0 and above.</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<!--<div class="row">-->
											<!--<div class="5u">&nbsp;</div>-->
											<!--<div class="2u">-->
												<!--<section class="is is-post-excerpt">-->
													<!--<a href="democracy" class="button button-style1">Contrast</a>-->
												<!--</section>-->
											<!--</div>-->
											<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->