<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">Sensors</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Network</h2>
											<span class="byline">Peer-to-Peer Network Awareness</span>
											<br class="mobile-hide" />
										</header>
										<p>
											An overlay network, it uses I2P for a base level of anonymity. The module participates with the LID module for
											self-sovereign identity and reputation based access. The system survives even if the internet goes down or is cut off by supporting
											peer-to-peer mesh networks. As long as enough people still have their device, the network survives.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Bluetooth</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Bluetooth Low Energy</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>Cellular</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>I2P</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Nearby</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>NFC</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Redtooth</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Tor</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>WiFi Aware</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>WiFi Direct</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>WiFi Internet</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>WiFi HaLow</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
						<div class="row">
							<div class="12u skel-cell-important">
								<div>
									<article class="is is-post">
										<header class="style1">
											<h2>Countermeasures</h2>
											<span class="byline">Threat Responsiveness</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Responds to exploitation attempts by learning and acting on them.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
														<h2>Honeypot</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2>Exploit</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="12u skel-cell-important">
								<div>
									<article class="is is-post">
										<header class="style1">
											<h2>Filters</h2>
											<span class="byline">Keeping Bad Actors Out</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Comes with threat filters built-in for threat mitigation including aggression detection/reporting and
											<a href="https://cellularprivacy.github.io/Android-IMSI-Catcher-Detector/" target="_blank">IMSI-Catcher</a> detection/blocking.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
														<h2>Aggression</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>
														1M5 does not support aggression in any form by any entity.
														One major form of aggression spread on the internet is child abuse. The Aggression module
														inspects all images and videos for evidence of child abuse (and only child abuse).
														If it discovers such imagery, it removes the imagery from the message so that it
														does not reach its destination, re-encrypts the imagery, the sender's IP address
														and additional information using the 1st relay's key, then sends that
														message to the 1st relay whereby it will continue on the original
														message to its destination, minus the image while the new content
														containing the image, IP address of the sender, and additional information
														gets decrypted then sent directly to the
														<a target="_blank" href="https://report.cybertip.org/">National Center for Missing & Exploited Children</a>.
													</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2>IMSI-Catcher</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>
														False mobile towers (base stations) acting between the target mobile phone(s) and the real
														towers of service providers. As such they are considered a Man-In-The-Middle (MITM) attack.
														This surveillance technology is also known as "StingRay", "Cellular Interception" and alike.
														The IMSI-Catcher Sensor discovers IMSI-Catchers and automatically blocks the phone from
														connecting to them. Future versions may support sharing of known IMSI-Catchers, honeypotting
														them to learn more about them, and using exploits to shut them down.</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="12u skel-cell-important">
								<div>
									<article class="is is-post">
										<header class="style1">
											<h2>Utilities</h2>
											<span class="byline">App Assistance</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Sensors that ensure the application maintains clean of privacy robbing viruses
											and additional application assistance.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Amazon Cleaner</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Apple Cleaner</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>Facebook Cleaner</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Google Cleaner</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Government Cleaner</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<header>
														<h2>Twitter Cleaner</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="is is-triple-one">
													<header>
														<h2>Rooting</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Voluntaryism" class="image image-full"><img src="../images/voluntaryism.jpeg" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-two">
													<header>
														<h2>Distance</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>&nbsp;</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="4u">
												<section class="is is-triple-three">
													<!--<header>-->
													<!--<h2>WiFi Aware</h2>-->
													<!--</header>-->
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<!--<p>A form of democratic control whereby people have the option to vest voting power in personally known delegates rather than in unknown representatives.</p>-->
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<!--<div class="row">-->
										<!--<div class="5u">&nbsp;</div>-->
										<!--<div class="2u">-->
										<!--<section class="is is-post-excerpt">-->
										<!--<a href="democracy" class="button button-style1">Contrast</a>-->
										<!--</section>-->
										<!--</div>-->
										<!--<div class="5u">&nbsp;</div>-->
										<!--</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->