<!-- Main Wrapper -->
<div class="wrapper wrapper-style2">
	<div class="title">CA</div>
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Main -->
				<div id="main">
					<div>
						<div class="row">
							<div class="12u skel-cell-important">

								<!-- Content -->
								<div id="content">
									<article class="is is-post">
										<header class="style1">
											<h2>Self-Sovereign Authentication (SSAuthN)</h2>
											<span class="byline">Your Identity Controlled by You</span>
											<br class="mobile-hide" />
										</header>
										<p>
											Create and manage identities you wish to have in the world.
										</p>
									</article>
									<div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
														<h2>Personal Asymmetric Cryptography</h2>
													</header>
													<!--<a class="image image-full"><img src="../images/iriscanning.gif" alt="" /></a>-->
													<p>Generate and manage your own keys.</p>
													<!--<a href="voluntary" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2>Multiple Identities</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Decentralization" class="image image-full"><img src="../images/decentralization.gif" alt="" /></a>-->
													<p>
														Maintain a bank of identities used to build up different reputations
														for different situations.
													</p>
													<!--<a href="decentralized" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="6u">
												<section class="is is-pair-one">
													<header>
														<h2>Key Revocation</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>Revoke a private key that has been stolen.</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
											<div class="6u">
												<section class="is is-pair-two">
													<header>
														<h2>Identify Recovery</h2>
													</header>
													<!--<a target="_blank" href="https://en.wikipedia.org/wiki/Delegative_democracy" class="image image-full"><img src="../images/delegative.jpeg" alt="" /></a>-->
													<p>Recover a lost private key.</p>
													<!--<a href="delegative" class="button button-style1">More</a>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								<!-- /Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Main -->

			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->